.g-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 181, 114);
    min-height: 64px;
    width: 100%;
    
    .copywriting {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(70, 20, 100);
    }
}
